*{
    margin: 0;
    padding: 0;
}
body{
    min-width: 1000px;
    min-height: 100vh;
    overflow-x: hidden;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.imagesloaded{
    width: 100vw;
    height: 100vh;
    background-image: url('images/file(54).jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    filter: blur(30px);
    z-index: -1;
}
.loader{
    position: absolute;
    left: 50%;top: 50%;
    margin: auto;
    font-size: 40px;
    color: white;
    font-weight: bold;
}
