@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to top,white 0%,white 50%,black 50%,black 100%);
}
nav{
    width: 80px;
    height: 70px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 7px;
    transition: width .6s linear;
    box-shadow: 4px 2px 10px rgba(0, 0, 0, .6);
}
nav.active{
    width: 500px;
}
nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    width: 0;
    align-items: center;
    justify-content: center;
    transition: width .6s linear;
}

nav.active ul{
    width: 100%;
}
nav ul li{
    display: flex;
    font-size: 15px;
   
    list-style: none;
    padding: 10px;
    font-weight: 400;
    transform: rotateY(0deg);
    opacity: 0;
    transition: transform .6s linear, opacity .6s linear;
}
nav.active ul li{
    transform: rotateY(360deg);
    opacity: 1;
}
nav .btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 20px;
    border: none;
    cursor: pointer;
    z-index: 9;
    background-color: transparent;
    transition: width .6s linear;
}
nav.active .btn{
    width: 40px;
}
nav .btn:focus{
    outline: none;
}
nav .btn .line{
    width: 100%;
}
nav .btn .line.line1{
    width: 100%;
    height: 3px;
    transition: transform 1s linear;
    background-color: black;
}nav .btn .line.line2{
    width: 100%;
    margin: 7.5px;
    height: 3px;
    transition: transform 1s linear;
    background-color: black;
}  
nav.active .btn .line.line1{
    transform:rotate(765deg) translateY(7px);
    
}
nav.active .btn .line.line2{
    transform:rotate(-765deg) translateY(-7px);
    
}
