@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,400&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
    
    min-height: 100vh;
    background-color:black;

}
.container{
 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    transform-origin: top left;
    transition: transform .4s linear;
    width: 100vw;
    min-height: 100vh;
}
.content{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    
    max-width: 1000px;
    min-width: 100vw;
    min-height: 100vh;
    background-color: white;
    margin: 80px auto;
    display: flex;
    align-items: center;
    flex-direction: column;

    

}
.contentHolder{
    width: 80%;
}
.container.show-nav{
    transform-origin: top left;
    transform: rotate(-20deg);
    margin: 0;
}
.circle-container{
    left:-100px;
    top: -100px;
    position: fixed; 
    margin: 0;  
}
.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: tomato;
    width: 200px;    
    height:200px;
    border-radius: 50%;
} 
.container.show-nav .icons{
    transform: rotate(-70deg);
}
.humberger{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;  
    top: 70%;
    left: 60%;
    margin: 0;
    transform-origin: top left;
    transition: transform 1s linear;
    transform: rotate(0deg);
    transform: translateY(-20%);
}
.humberger span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 5px;
    padding: 2px;
    border-radius: 10px;
    margin: 2px;
    cursor: pointer;
    background-color: white;
}

.close{
    height: 5px;
    left:30%;
    margin: 0;
    top:60%;
    font-size: 30px;
    font-weight: bold;
   position: absolute;
    transform: rotate(90deg);
    cursor: pointer;
    color: white;
    transform-origin: top left;
}
.image{
    width: 100%;
}

/* Navigation Bars */

.container.show-nav + nav ul li{
    transform: translateX(0);
    transition: transform .7s ease-in;
    transition-delay: .5s;
}

nav{
    position: fixed;
    bottom: 20px;
    left: 0;
}
nav ul{
    list-style: none;
    padding: 10px;
    margin: 10px;
}
nav ul li{
    margin-right: 15px;
    font-size: 25px;
    color: white;
    transform: translateX(-100%);
}
nav ul li + li{
    margin-left:17px;
    margin-top: 5px;
    transform: translateX(-150%);
}
nav ul li + li+ li{
    margin-left:35px;
    margin-top: 5px;
    transform: translateX(-140%);
}
